<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form onsubmit=changePassword(event)>
        <label for="newPass" class="label">Enter New Password</label>
        <input type="password" class="newPass" id="newPass" name="newpass" required>
        <button type="subit">Change</button>
    </form>
</body>
<script src="../newPass.js"></script>
</html>