<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="headng" id="heading">
        <h1 class="main-heading" id="main-heading">Reset Password</h1>
    </div>
        <form onsubmit="resetPassword(event)" class="password-reset-from" id="password-reset-form">
            <label for="email" class="label">Enter you registered email id</label>
            <input type="text" class="email" id="email" name="email" required>
            <button type="submit" class="password-reset-btn" id="password-reset-btn">Reset Password</button>
        </form>
    <p class="msg" id="msg"></p>
    <script src="../forgotPass.js"></script>
</body>
</html>